body {
  color: #29303b;
  margin: 0;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
  background-color: #f3f7fa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.container {
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #cecece;
}

.box-title h1 {
  border-bottom: 1px solid #cecece;
  font-size: 1em;
  background-color: #2f5490;
  color: white;
  padding: 0.8em 0.8em;
  text-transform: uppercase;
  margin-bottom: 0.3em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.left-nav {
  height: 100vh;
  background-color: #213658;
}

.login-left {
  height: 100vh;
  opacity: 0.85;
  background: #1d365d;
  background-size: cover;
}

.login-form {
  height: 100vh;
  background-color: white;
}
