html {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #29303b;
  letter-spacing: 0;
  background-color: #f3f7fa;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.spinner {
  width: 100%;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 100;
  margin: 0 auto;
}

.container {
  margin: 10px;
}

.left-nav {
  height: 100vh;
  background-color: #213658;
}

.login-left {
  height: 100vh;
  opacity: 0.85;
  background: #1d365d;
  background-size: cover;
}

.login-form {
  height: 100vh;
  background-color: white;
}

.title-box {
  border: 1px solid #ddd;
  background-color: #ffffff;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 1px 1px 5px 1px #e0e0e0;
}

.title-box h1 {
  font-size: 1.3rem;
  padding: 0.4em 0.5em;
  text-transform: uppercase;
  margin-bottom: 0.2em;
  border-bottom: 1px solid #ddd;
  color: #555;
}

.title-box table {
  width: 100%;
  border-collapse: collapse;
}

.title-box table tr td {
  border: 1px solid #ddd;
  padding: 5px;
}

/*Accordion*/
.accordion {
  background-color: #1d365d !important;
  color: #ffffff !important;
  box-shadow: none !important;
}

.accordion svg {
  color: #ffffff !important;
}

.accordion:before {
  background-color: none;
}

.MuiAccordion-root {
  margin: 0 !important;
}
